
__bl_start = ORIGIN(bl);
__bl_end = ORIGIN(bl) + LENGTH(bl);
__ram_start = ORIGIN(ram);
__ram_end = ORIGIN(ram) + LENGTH(ram) + LENGTH(shared);
__code_start = ORIGIN(code);
__code_end = ORIGIN(code) + LENGTH(code);
__shared_start = ORIGIN(shared);
__shared_end = ORIGIN(shared) + LENGTH(shared);
__data_data = LOADADDR(.data);
__ipc_start = ORIGIN(ipc);
__ipc_end = ORIGIN(ipc) + LENGTH(ipc);
